* {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: 10vh;
    background-color: green;
}

.header .pic {
    flex: 1;
}

.header .heading {
    flex: 3;
    font-size: 35px;
    font-weight: bold;
}

.header .icons {
    flex: 1;
}

.header .icons a {
    text-decoration: none;
    color: black;
}


.body {
    display: flex;
    min-height: 80vh;
}

.body .navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(106, 173, 106);
    cursor: default;
    padding-top: 10px;
}

.nav-content {
    background-color: rgb(87, 128, 87);
    padding: 5px;
    margin: 5px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    backdrop-filter: blur(12px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
}

.body .nav-content {
    background-color: rgb(87, 128, 87);
    padding: 5px;
    margin: 5px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    backdrop-filter: blur(12px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
}

.body .nav-content:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

}

.body .navbar .active {
    background-color: rgb(85, 145, 125);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}

.body .navbar .signout {
    background-color: rgba(253, 98, 98, .5);
}

.body .navbar .signout:hover {
    background-color: rgba(253, 98, 98, .7);
}

.body .content {
    flex: 4;
}

form {
    background-color: rgb(207, 204, 204);
    height: 60vh;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .inputgroup {
    margin: 20px;
}

form .inputgroup input {
    border-radius: 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    padding: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    transition: all .5s;
}

form button {
    width: 25%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    transition: all .5s;
}

form .inputgroup input:hover, form button:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    transition: all .5s;
    scale: 1.1;
}

form .inputgroup input:focus {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .7);
    transition: all .5s;
    scale: 1.1;
}

.footer {
    min-height: 10vh;
    background-color: green;
}